h3, p:not(:last-child) {
    width: 120px;
    display: inline-block;
}

input {
  text-align: center;
}

.center {
  margin: 0 auto;
  width: 400px;
  padding: 60px 60px 20px 60px;
}

.currencyRow {
  margin-bottom: 20px;
}
